-- MySQL dump 10.13  Distrib 8.0.12, for Win64 (x86_64)
--
-- Host: localhost    Database: fubc_library
-- ------------------------------------------------------
-- Server version	8.0.12

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
 SET NAMES utf8mb4 ;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `author`
--

DROP TABLE IF EXISTS `author`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `author` (
  `Author_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `First_Name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `Middle_Name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `Last_Name` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  PRIMARY KEY (`Author_Id`),
  UNIQUE KEY `Name_Unique` (`First_Name`,`Middle_Name`,`Last_Name`)
) ENGINE=InnoDB AUTO_INCREMENT=672 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `author`
--

LOCK TABLES `author` WRITE;
/*!40000 ALTER TABLE `author` DISABLE KEYS */;
/*!40000 ALTER TABLE `author` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `book`
--

DROP TABLE IF EXISTS `book`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `book` (
  `Book_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Genre_id` int(10) unsigned NOT NULL,
  `Title` varchar(500) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `ISBN` char(13) DEFAULT NULL,
  `Language` char(2) NOT NULL,
  `Publication_Year` int(10) unsigned NOT NULL,
  `Series_Id` int(10) unsigned DEFAULT NULL,
  `In_Series_Number` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`Book_Id`),
  UNIQUE KEY `Book_Id_UNIQUE` (`Book_Id`),
  KEY `Series_Id_idx` (`Series_Id`),
  KEY `Genre_Id_idx` (`Genre_id`),
  CONSTRAINT `Genre_Id` FOREIGN KEY (`Genre_id`) REFERENCES `genre` (`genre_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `Series_Id` FOREIGN KEY (`Series_Id`) REFERENCES `series` (`series_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=575 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book`
--

LOCK TABLES `book` WRITE;
/*!40000 ALTER TABLE `book` DISABLE KEYS */;
/*!40000 ALTER TABLE `book` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `book_authored_by`
--

DROP TABLE IF EXISTS `book_authored_by`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `book_authored_by` (
  `Author_Id` int(10) unsigned NOT NULL,
  `Book_Id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`Author_Id`,`Book_Id`),
  KEY `fk_Authors_has_Books_Authors1_idx` (`Author_Id`),
  KEY `fk_Book_Authored_By_Books1_idx` (`Book_Id`),
  CONSTRAINT `fk_Authors_has_Books_Authors1` FOREIGN KEY (`Author_Id`) REFERENCES `author` (`author_id`),
  CONSTRAINT `fk_Book_Authored_By_Books1` FOREIGN KEY (`Book_Id`) REFERENCES `book` (`book_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book_authored_by`
--

LOCK TABLES `book_authored_by` WRITE;
/*!40000 ALTER TABLE `book_authored_by` DISABLE KEYS */;
/*!40000 ALTER TABLE `book_authored_by` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `book_to_barcode`
--

DROP TABLE IF EXISTS `book_to_barcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `book_to_barcode` (
  `Book_Id` int(10) unsigned NOT NULL,
  `Barcode` char(8) NOT NULL,
  PRIMARY KEY (`Book_Id`,`Barcode`),
  KEY `fk_Books_has_Item_Item1_idx` (`Barcode`),
  KEY `fk_Books_has_Item_Books1_idx` (`Book_Id`),
  CONSTRAINT `fk_Books_has_Item_Books1` FOREIGN KEY (`Book_Id`) REFERENCES `book` (`book_id`),
  CONSTRAINT `fk_Books_has_Item_Item1` FOREIGN KEY (`Barcode`) REFERENCES `item` (`barcode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `book_to_barcode`
--

LOCK TABLES `book_to_barcode` WRITE;
/*!40000 ALTER TABLE `book_to_barcode` DISABLE KEYS */;
/*!40000 ALTER TABLE `book_to_barcode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `genre`
--

DROP TABLE IF EXISTS `genre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `genre` (
  `Genre_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  PRIMARY KEY (`Genre_Id`),
  UNIQUE KEY `Name_UNIQUE` (`Name`)
) ENGINE=InnoDB AUTO_INCREMENT=571 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `genre`
--

LOCK TABLES `genre` WRITE;
/*!40000 ALTER TABLE `genre` DISABLE KEYS */;
INSERT INTO `genre` VALUES (49,'╨å╤ü╤é╨╛╤Ç╤û╤Å'),(45,'╨É╨▓╤é╨╛╨▒╨╕╨╛╨│╤Ç╨░╤ä╤û╤Å'),(61,'╨æ╨╛╨│╨╛╤ü╨╗╨╛╨▓ΓÇÖ╤Å'),(44,'╨ö╨╕╤é╤Å╤ç╤û'),(100,'╨ƒ╨╛╨╡╨╖╤û╤Å'),(6,'╨á╤û╨╖╨╜╤û'),(276,'╤ü╤û╨╝╨╡╨╣╨╜╤û'),(63,'╨Ñ╤Ç╨╕╤ü╤é╨╕╤Å╨╜╤ü╤î╨║╤û ╨₧╨┐╨╛╨▓╤û╨┤╨░╨╜╨╜╤Å'),(1,'╨Ñ╤Ç╨╕╤ü╤é╨╕╤Å╨╜╤ü╤î╨║╤û ╨á╨╛╨╝╨░╨╜╨╕');
/*!40000 ALTER TABLE `genre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `item` (
  `Barcode` char(8) NOT NULL,
  `Type_Id` int(10) unsigned NOT NULL,
  `Status` int(10) unsigned NOT NULL DEFAULT '1',
  PRIMARY KEY (`Barcode`),
  UNIQUE KEY `Copy_Id_UNIQUE` (`Barcode`),
  KEY `fk_Item_Item_Type1_idx` (`Type_Id`),
  CONSTRAINT `fk_Item_Item_Type1` FOREIGN KEY (`Type_Id`) REFERENCES `item_type` (`type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item`
--

LOCK TABLES `item` WRITE;
/*!40000 ALTER TABLE `item` DISABLE KEYS */;
/*!40000 ALTER TABLE `item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_type`
--

DROP TABLE IF EXISTS `item_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `item_type` (
  `Type_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Type_Name` varchar(50) NOT NULL,
  PRIMARY KEY (`Type_Id`),
  UNIQUE KEY `Type_Name_UNIQUE` (`Type_Name`)
) ENGINE=InnoDB AUTO_INCREMENT=660 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_type`
--

LOCK TABLES `item_type` WRITE;
/*!40000 ALTER TABLE `item_type` DISABLE KEYS */;
INSERT INTO `item_type` VALUES (1,'book');
/*!40000 ALTER TABLE `item_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loan`
--

DROP TABLE IF EXISTS `loan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `loan` (
  `Loan_Id` int(11) NOT NULL AUTO_INCREMENT,
  `Barcode` char(8) NOT NULL,
  `Member_Id` int(10) unsigned NOT NULL,
  `Checkout` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `Due` datetime NOT NULL,
  `Returned` datetime DEFAULT NULL,
  PRIMARY KEY (`Loan_Id`),
  UNIQUE KEY `Loan_Id_UNIQUE` (`Loan_Id`),
  KEY `fk_Item_has_Members_Members1_idx` (`Member_Id`),
  KEY `fk_Item_has_Members_Item1_idx` (`Barcode`),
  CONSTRAINT `fk_Item_has_Members_Item1` FOREIGN KEY (`Barcode`) REFERENCES `item` (`barcode`),
  CONSTRAINT `fk_Item_has_Members_Members1` FOREIGN KEY (`Member_Id`) REFERENCES `member` (`member_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loan`
--

LOCK TABLES `loan` WRITE;
/*!40000 ALTER TABLE `loan` DISABLE KEYS */;
INSERT INTO `loan` VALUES (3,'00000102',1,'2019-04-12 20:21:57','2019-06-12 20:21:57',NULL),(5,'00000081',4,'2019-05-06 17:53:10','2019-07-06 17:53:10','2019-08-31 16:15:24'),(6,'00000123',4,'2019-05-06 18:17:05','2019-07-06 18:17:05','2019-08-31 16:05:29');
/*!40000 ALTER TABLE `loan` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ALLOW_INVALID_DATES,ERROR_FOR_DIVISION_BY_ZERO,TRADITIONAL,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `set_due_date` BEFORE INSERT ON `loan` FOR EACH ROW SET NEW.due = DATE_ADD(NOW(),INTERVAL 2 MONTH) */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ALLOW_INVALID_DATES,ERROR_FOR_DIVISION_BY_ZERO,TRADITIONAL,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `unavailable_status` AFTER INSERT ON `loan` FOR EACH ROW UPDATE Item
     SET status = 0
   WHERE barcode = NEW.barcode */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `available_status` AFTER UPDATE ON `loan` FOR EACH ROW BEGIN
	IF NEW.Returned <> OLD.Returned THEN 
		UPDATE Item
		SET status = 1
		WHERE barcode = NEW.barcode;
   END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `member`
--

DROP TABLE IF EXISTS `member`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `member` (
  `Member_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `Last_Name` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `Middle_Name` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  `First_Name` varchar(50) CHARACTER SET utf8 COLLATE utf8_general_ci NOT NULL,
  `Email` varchar(255) NOT NULL,
  `Phone_Number` char(10) DEFAULT NULL,
  PRIMARY KEY (`Member_Id`),
  UNIQUE KEY `Email_UNIQUE` (`Email`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member`
--

LOCK TABLES `member` WRITE;
/*!40000 ALTER TABLE `member` DISABLE KEYS */;
INSERT INTO `member` VALUES (1,'Salo','Stefanovich','Nataliya','ynsalo@gmail.com','2535694958'),(4,'Frankov','Vasilyevich','Anatoliy','anatoifrankov@yahoo.com','2533595462'),(5,'Kukhar','','Daniel','dankuk10@gmail.com','2536328131'),(6,'Pavlyshyn','','Volodya','vadlen5@yahoo.com','');
/*!40000 ALTER TABLE `member` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `series`
--

DROP TABLE IF EXISTS `series`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
 SET character_set_client = utf8mb4 ;
CREATE TABLE `series` (
  `Series_Id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(500) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
  PRIMARY KEY (`Series_Id`),
  UNIQUE KEY `Title_UNIQUE` (`title`)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `series`
--

LOCK TABLES `series` WRITE;
/*!40000 ALTER TABLE `series` DISABLE KEYS */;
/*!40000 ALTER TABLE `series` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2020-01-25 12:47:49
